/* ===================================
========= register page  */
.form-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image:url("backimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #333;
}

.form-container form .mb-2 {
  margin-bottom: 15px;
}

.form-container form .form-control {
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-container form .form-control:focus {
  border-color: #d994b5;
  outline: none;
  box-shadow: none;
}

.form-container form .btn {
  border: 1px solid #d994b5;
  border-radius: 5px;
  background-color: #d994b5;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.form-container form .btn:hover {
  background: linear-gradient(to right, #434343, #000000);
  color: #fff;
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.forgot-btn:hover {
  color: white !important;
  background-color: #333 !important;
}
@media (max-width: 768px) {
  .form-container {
    padding: 10px;
    border-radius: 5px;
  }

  .form-container form {
    padding: 20px;
    max-width: 90%; /* Adjusted for smaller screens */
  }

  .form-container form .title {
    font-size: 20px;
  }

  .form-container form .btn {
    padding: 8px;
    font-size: 14px;
  }
}