.category {
  margin-top: 80px !important;
 
  padding: 20px;
  border-radius: 10px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.head{
  padding: 15px !important;
  font-weight: bold;
  background-color: #c99ab4;
  
  width: 1110px;
  border-radius: 10px;
  margin-bottom: 20px;
  }
  .head1{
    font-weight: bold;
  }
  .boxes{
  background-color: #c99ab4;

  }
.price-filter {
  margin-bottom: 20px;
}

.reset-button {
  margin-top: 10px;
  border-radius: 5px;
}

.category .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
 
  width: 18rem;
  transition: transform 0.3s;
}

.category .card:hover {
  transform: scale(1.05);
}

.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}

.category button {
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: #666;
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 300px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
